# Private Discord Bot Key
secret

# Assets [no including assets so people can review them all]
# alleyman/
# cooldown/
# hugs/
# images/
# likes/
# mods/
# tongue/
 __pycache__/

# File types
*.json
*.pyc

# Mac
.DS_STORE

# Venv
bot-env/

# Secret projects
hunt.py